<form class="mt-5" [formGroup]="inventoryForm" (submit)="onAddItem()">
    <button class="btn btn-success mb-3" [disabled]="inventoryForm.invalid">
        Add Item
    </button>

    <div class="row">
        <div class="col-md-4 mb-3">
            <input
                type="text"
                name="productName"
                id="productName"
                class="form-control"
                placeholder="Item Name"
                aria-label="Item Name"
                formControlName="productName"
            />
        </div>
        <div class="col-md-4 mb-3">
            <input
                type="number"
                name="productQuantity"
                id="productQuantity"
                class="form-control"
                placeholder="Quantity"
                aria-label="Quantity"
                formControlName="productQuantity"
            />
        </div>
        <div class="col-md-4 mb-3">
            <input
                type="number"
                step=".01"
                name="productPrice"
                id="productPrice"
                class="form-control"
                placeholder="Price"
                aria-label="Price"
                formControlName="productPrice"
            />
        </div>
    </div>
</form>
<div class="alert alert-danger" *ngIf="errMsg">{{ errMsg }}</div>

<div class="row mt-5">
    <div class="col-5"><b>Name</b></div>
    <div class="col-3"><b>Qty</b></div>
    <div class="col-4"><b>Price</b></div>
</div>
<div class="row mb-5">
    <app-inventory-item
        *ngFor="let item of items; let i = index"
        [item]="item"
        [index]="i"
    ></app-inventory-item>
</div>
