<form class="mt-5" [formGroup]="inventoryForm" (submit)="onAddItem()">
    <button class="btn btn-success mb-3">Add Item</button>

    <div class="row">
        <div class="col-md-4 mb-3">
            <input
                type="text"
                name="itemName"
                id="itemName"
                class="form-control"
                placeholder="Item Name"
                aria-label="Item Name"
                formControlName="itemName"
            />
        </div>
        <div class="col-md-4 mb-3">
            <input
                type="text"
                name="qty"
                id="qty"
                class="form-control"
                placeholder="Quantity"
                aria-label="Quantity"
                formControlName="quantity"
            />
        </div>
        <div class="col-md-4 mb-3">
            <input
                type="text"
                name="price"
                id="price"
                class="form-control"
                placeholder="Price"
                aria-label="Price"
                formControlName="price"
            />
        </div>
    </div>
</form>

<div class="row mt-5">
    <div class="mb-3">
        <label for="sort-item" class="form-label">Sort By</label>
        <select name="sort-item" id="sort-item" class="form-select">
            <option value="name" selected>Name</option>
            <option value="quantity">Quantity</option>
            <option value="price">Price</option>
        </select>
    </div>
</div>
<div class="row mt-5">
    <div class="col-5"><b>Name</b></div>
    <div class="col-3"><b>Qty</b></div>
    <div class="col-4"><b>Price</b></div>
</div>
<div class="row">
    <app-inventory-item
        *ngFor="let item of items; let i = index"
        [item]="item"
        [index]="i"
    ></app-inventory-item>
</div>
