<button class="btn btn-success mt-5">Add Item</button>

<div class="row mt-5">
  <div class="mb-3">
    <label for="sort-item" class="form-label">Sort By</label>
    <select name="sort-item" id="sort-item" class="form-select">
      <option value="name" selected>Name</option>
      <option value="quantity">Quantity</option>
      <option value="price">Price</option>
    </select>
  </div>
</div>
<div class="row mt-5">
  <div class="col-2"><b>Image</b></div>
  <div class="col-4"><b>Name</b></div>
  <div class="col-2"><b>Quantity</b></div>
  <div class="col-3"><b>Price</b></div>
</div>
<div class="row">
  <app-inventory-item></app-inventory-item>
</div>
