<div class="row mt-5 text-center">
    <div class="col">
        <h3>Business Information</h3>
    </div>
</div>

<div class="row mt-5 flex-wrap">
    <div class="col d-flex align-items-end"><b>Photo</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <img
            [src]="accountData.profileImagePath"
            [alt]="accountData.businessName"
            height="50px"
        />
    </div>
</div>
<hr />

<div class="row mt-5">
    <div class="col d-flex align-items-end"><b>Owner Name</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <span>{{ accountData.ownerName }}</span>
    </div>
</div>
<hr />

<div class="row mt-5">
    <div class="col d-flex align-items-end"><b>Business Name</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <span>{{ accountData.businessName }}</span>
    </div>
</div>
<hr />

<div class="row mt-5">
    <div class="col d-flex align-items-end"><b>Email</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <span>{{ accountData.email }}</span>
    </div>
</div>
<hr />

<div class="row mt-5">
    <div class="col d-flex align-items-end"><b>API Key</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <span>{{ accountData.apiKey }}</span>
    </div>
</div>

<div class="row mt-5 mb-5">
    <button class="btn btn-primary" routerLink="/account/edit">
        Update My Information
    </button>
</div>

<hr />
<div class="row mt-5 mb-5">
    <button class="btn btn-danger" (click)="onDeleteAccount()">
        Delete My Account
    </button>
</div>
