<div class="row mt-5 text-center">
    <div class="col">
        <h3>Business Information</h3>
    </div>
</div>
<div class="row mt-5 flex-wrap">
    <div class="col d-flex align-items-end"><b>Photo</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <img src="https://placekitten.com/50/50" alt="" />
    </div>
</div>
<hr />
<div class="row mt-5">
    <div class="col d-flex align-items-end"><b>Owner Name</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <span>Peter Pettigrew</span>
    </div>
</div>
<hr />
<div class="row mt-5">
    <div class="col d-flex align-items-end"><b>Business Name</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <span>Dark Lord Consulting</span>
    </div>
</div>
<hr />
<div class="row mt-5">
    <div class="col d-flex align-items-end"><b>Email</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <span>iamarat@deatheater.com</span>
    </div>
</div>
<hr />
<div class="row mt-5">
    <div class="col d-flex align-items-end"><b>Password</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <span>*********</span>
    </div>
</div>
<hr />
<div class="row mt-5">
    <div class="col d-flex align-items-end"><b>API Key</b></div>
    <div class="col d-flex justify-content-end align-items-end">
        <span>*********</span>
    </div>
</div>
<div class="row mt-5 mb-5">
    <button class="btn btn-primary">Update My Information</button>
</div>
