<form [formGroup]="passwordForm" (submit)="onUpdatePassword()">
    <div class="mb-3">
        <label for="currentPassword">Current Password</label>
        <input
            type="password"
            name="currentPassword"
            id="currentPassword"
            class="form-control"
            formControlName="currentPassword"
        />
    </div>
    <div class="mb-3">
        <label for="newPassword">New Password</label>
        <input
            type="password"
            name="newPassword"
            id="newPassword"
            class="form-control"
            formControlName="newPassword"
        />
    </div>
    <div class="mb-3">
        <button
            class="btn btn-primary"
            [disabled]="!passwordForm.valid && !passwordForm.touched"
        >
            Update My Password
        </button>
    </div>
    <a routerLink="/account">go back to account</a>
</form>
<div class="alert alert-danger" *ngIf="errMsg">{{ errMsg }}</div>
