<div class="row mt-5">
  <form>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <a href="#">forgot password?</a>
    </div>
    <button class="btn btn-primary mb-3">Login</button>
    <div class="mb-3">
      <a href="#">or signup</a>
    </div>
  </form>
</div>
